.add_user.edit_user.edit_user_project  
  = render 'form'
  %script
    $('#main-nav li').removeClass('current');
    $('#main-nav .write').addClass('current');
    $('#main-nav>ul li.write>ul li').removeClass('current');
    $('#main-nav ul li.write>ul li').eq(1).addClass('current');
    $('#breadcrumb li:first-child a').html('Projects');
    $('#breadcrumb li:last-child a').html('Update Project');  
    $('h1').html('Information of Current Project');
  