// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list_invoice{
  margin:5% 15%
}
.edit_invoice{
  margin:5% 0%;
}
.show_invoice{
  margin:5% 7%!important;
  
}
.invoice_middle{
  width:85%!important;
}

.invoice_middle a{
  margin-left:300px!important;
}
