// Place all the styles related to the knowledges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list_knowledge{
  margin:5% 15%
}
.edit_knowledge{
  margin:5%;
}
.show_knowledge{
  margin:5% 7%!important;
  
}
.knowledge_middle{
  width:85%!important;
}

.knowledge_middle a{
  margin-left:300px!important;
}
