.add_user.edit_user 
  = render 'form'
  %script
    $('#main-nav li').removeClass('current');
    $('#main-nav .write').addClass('current');
    $('#main-nav>ul li.write>ul li').removeClass('current');
    $('#main-nav ul li.write>ul li').eq(2).addClass('current');
    $('#breadcrumb li:first-child a').html('Product');
    $('#breadcrumb li:last-child a').html('Update Product');
    $('h1').html('Information of Current Product');


