<footer>
    
    <div class="float-left">
      <a href="/users/help" class="button">Help</a>
      <a href="/users/about" class="button">About</a>
    </div>
    
    <div class="float-right">
      <a href="#top" class="button"><img src="/images/icons/fugue/navigation-090.png" width="16" height="16"> Page top</a>
    </div>
    
  </footer>